<div class="slider fullscreen s-container">
  <ul class="slides">
    <li class="velocity-animating active" style="opacity: 0.986696; transform: translateX(0px) translateY(0px);">
      <img src="img/bg.jpg">
      <div class="caption center-align" style="opacity: 1; transform: translateY(-100px) translateX(0px);">
        <div class="row">
          <img class="aioz-logo col l2" src="img/logo.jpg">
          <login-form></login-form>
        </div>
      </div>
    </li>
  </ul>
</div>
<script src="assets/js/materializecss/init.js"></script>
