<main>
  <div class="row black-layer">
    <h4 class="header center cinzel-font col s12 pack-yellow-text">Diretivas</h4>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4><img src="img/external-logos/angular.png" alt="" class="logo"></h4>
          <h5 class="grey-text text-darken-3 cinzel-font">Diretivas</h5>

          <p>As diretivas são tags ou elementos desenvolvidos para encapsular, tornar código semântico ao projeto e reaproveitar código ajudando na velocidade do desenvolvimento, podemos criar nossas próprias tags com todo html e css definidos para este fim.</p>

          <p>A cada interface de evento do JavaScript temos uma diretiva do angular, para um form submit usamos a diretiva ng-submit= “funcao()” e caso necessário executar uma função através de um link (a) podemos usar o <code>ng-click=“funcao()"</code></p>

          <h5 class="grey-text text-darken-3 cinzel-font">Diretivas Tags</h5>

          <p>Podemos criar nossas próprias tags html com css e html definido, assim ao usar <nome-tag></nome-tag> estaremos carregando nossa tag desenvolvida, essas tags não existem no mundo HTML o AngularJS irá “ensinar” ao html.</p>
          
            <div class="row">
    <div class="col s12 m6 l6">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Card Formulário de Login (Login Form)</div>
              <div class="collapsible-body"><span>Faça o Download e instale o NodeJS por <a href="https://nodejs.org/en/" target="_blank">nodejs.org</a></span></div>
              <div class="collapsible-body"><span>Para teste da instalação usando comando no terminal <code>node -v</code> terminal deverá retornar a versão do NodeJS instalada.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Barra de Navegação Superior (Navbar)</div>
              <div class="collapsible-body"><span>Faça o Download e instale o NodeJS por <a href="https://nodejs.org/en/" target="_blank">nodejs.org</a></span></div>
              <div class="collapsible-body"><span>Para teste da instalação usando comando no terminal <code>node -v</code> terminal deverá retornar a versão do NodeJS instalada.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Barra de Navegação Lateral (SideNav)</div>
              <div class="collapsible-body">
                <span>
                      Instalação será feita via Homebrew para instalar o homebrew usa o seguinte comando no terminal <code>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent
                        .com/Homebrew/install/master/install
                        )"</code>
                    </span>
              </div>
              <div class="collapsible-body">
                <span>
                      Instalação do MongoDB via Homebrew primeiramente devemos atualizar o homebrew <code>brew update</code> então podemos instalar o MongoDB <code>brew install mongodb</code>
                    </span>
              </div>
              <div class="collapsible-body">
                <span>
                      Em alguns casos precisamos usar o comando como sudo para criação da pasta db no terminal <code>sudo mkdir -p /data/db</code> e mudar a permissão de acesso usando linha de comando <code>sudo chmod 777 /data/db</code>
                    </span>
              </div>
              <div class="collapsible-body">
                <span>
                     Então para iniciar o MongoDB basta usar o comando <code>mongod</code>
                    </span>
              </div>
            </li>
          </ul>
    </div>
    <!-- Grid -->

        </li>
      </ul>
    </div>
  </div>

</main>
<script src="assets/js/materializecss/materialize.js"></script>
<script src="assets/js/materializecss/init.js"></script>