<main>
  <div class="row black-layer">
    <h4 class="header center cinzel-font col s12 pack-yellow-text">Iniciando</h4>
  </div>

<!--
    <div class="row">
      <h4 class="col s12 cinzel-font">Mean Pack</h4>
      <p class="col s12">Pacote inicial de aplicações M.E.A.N com estrutura de pastas, rotas e dependências necessárias para uma aplicação M.E.A.N com Interface de Usuário em Material Design com <a href="http://materializecss.com/about.html">Materializecss</a>.</p>
  </div>
-->

  <div class="row">
    <div class="col s12 m12 l12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4><img src="img/mean.png" alt="" class="logo"></h4>
          <p>O Que é o M.E.A.N?</p>
          <p> M.E.A.N é um acrônimo de (MongoDB, Express, AngularJS e NodeJS) são tecnologias JavaScript muito bem integradas para o desenvolvimento completo de aplicações web.
          </p>
        </li>
        <li class="collection-item">
          <div>MongoDB - Base de dados orientado a documento
            <a href="https://www.mongodb.com/what-is-mongodb" class="secondary-content" target="_blank"><span class="indigo-text text-darken-2">Saiba Mais...</span></a>
          </div>
        </li>
        <li class="collection-item">
          <div>Express - Framework web para node, recurso de rota http e midlewares
            <a href="http://expressjs.com/pt-br/" class="secondary-content" target="_blank"><span class="indigo-text text-darken-2">Saiba Mais...</span></a>
          </div>
        </li>
        <li class="collection-item">
          <div>AngularJS - Framework Front-End desenvolvida pela Google para paginas dinâmicas
            <a href="https://angularjs.org/" class="secondary-content" target="_blank"><span class="indigo-text text-darken-2">Saiba Mais...</span></a>
          </div>
        </li>
        <li class="collection-item">
          <div>NodeJS - Framework JavaScript lado do servidor
            <a href="https://nodejs.org/en/" class="secondary-content" target="_blank"><span class="indigo-text text-darken-2">Saiba Mais...</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card z-depth-3 black-layer">
        <div class="card-content card-list">
          <span class="card-title center cinzel-font white-text">Ambiente de Desenvolvimento</span>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li class="white">
              <div class="collapsible-header"><i class="material-icons pack-yellow-text">dns</i>NodeJS</div>
              <div class="collapsible-body"><span>Faça o Download e instale o NodeJS por <a href="https://nodejs.org/en/" target="_blank">nodejs.org</a></span></div>
              <div class="collapsible-body"><span>Para teste da instalação usando comando no terminal <code>node -v</code> terminal deverá retornar a versão do NodeJS instalada.</span></div>
            </li>
            <li class="white">
              <div class="collapsible-header"><i class="material-icons pack-yellow-text">storage</i>MongoDB</div>
              <div class="collapsible-body">
                <span>
                      Instalação será feita via Homebrew para instalar o homebrew usa o seguinte comando no terminal <code>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent
                        .com/Homebrew/install/master/install
                        )"</code>
                    </span>
              </div>
              <div class="collapsible-body">
                <span>
                      Instalação do MongoDB via Homebrew primeiramente devemos atualizar o homebrew <code>brew update</code> então podemos instalar o MongoDB <code>brew install mongodb</code>
                    </span>
              </div>
              <div class="collapsible-body">
                <span>
                      Em alguns casos precisamos usar o comando como sudo para criação da pasta db no terminal <code>sudo mkdir -p /data/db</code> e mudar a permissão de acesso usando linha de comando <code>sudo chmod 777 /data/db</code>
                    </span>
              </div>
              <div class="collapsible-body">
                <span>
                     Então para iniciar o MongoDB basta usar o comando <code>mongod</code>
                    </span>
              </div>
            </li>
            <li class="white">
              <div class="collapsible-header"><i class="material-icons indigo-text">storage</i>MongoDB Windows</div>
              <div class="collapsible-body">
                <span>
                    <a href="https://mongodbwise.wordpress.com/2014/05/22/mongodb-guia-rapido/">Instalação para Windows </a>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <!-- Close card content -->
      </div>
      <!-- Close card -->
    </div>
    <!-- Grid -->
        <div class="col s12 m6 l6">
      <div class="card z-depth-3 black-layer">
        <div class="card-content card-list">
          <span class="card-title center cinzel-font white-text">Instalação do M.E.A.N Pack</span>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li class="white">
              <div class="collapsible-header"><img src="img/box-logo.png" alt="MEAN Pack Icon" class="pack-icon">M.E.A.N Pack</div>
              <div class="collapsible-body"><span>Faça o Download do M.E.A.N Pack no GitHub <a href="https://nodejs.org/en/" target="_blank">renanlopescoder</a></span></div>
              <div class="collapsible-body"><span>Extrair o arquivo e o acessar via terminal</span></div>
              <div class="collapsible-body"><span>Use o comando <code>npm install</code> para instalar todas as dependências necessárias</span></div>
              <div class="collapsible-body"><span>Use o comando <code>npm start</code> e seu servidor está rodando localmente</span></div>
              <div class="collapsible-body"><span>Acesse <a href="http://localhost:3000/">http://localhost:3000/</a> e pronto sua aplicação está rodando localmente. O banco de dados configurado por padrão está hospedado no Heroku acesse <a class= "bevan-font" href="#/">Base de Dados [Local]</a> para configurar seu banco de dados local ou se preferir acesse <a class= "bevan-font" href="">Servidor [Cloud]</a> para configurar seu banco e sua aplicação em cloud usando Heroku.</span></div>
            </li>
          </ul>
        </div>
        <!-- Close card content -->
      </div>
      <!-- Close card -->
    </div>
    <!-- Grid -->
  </div>
  <!-- End of row -->

  <!--- . - . - .  - Após o download do projeto extrair a pasta em sua pasta de trabalho então usamos
  o terminal para acessar a pasta do projeto. - Instalar via npm <code>npm install</code> - Para inicializar o projeto
  basta usar a linha de comando no terminal <code>npm start</code> - Para acessar a aplicação basta ir em seu navegador e
  acessar <a href="http://localhost:3000">http://localhost:3000</a> Simples e sua aplicação estará funcionando, porém o banco
  de dados configurado por padrão no M.E.A.N Pack é o banco de testes do Heroku.-->

  <!--<a href="#/database" class="btn">Configurar Banco de Dados</a> -->

<!-- Diretivas -->

  <!--## Diretivas - <code>&ltnavbar&gt&lt/navbar&gt</code> -
  Trará a barra de navegação pública - <code>&ltlogin-form&gt&lt/login-form&gt</code> - Cartão com formulário de login com
  grid col s12 m6 l6 deve ser usado dentro de uma div com a tag row # Views - lists/sample-card.list.html - Lista em formato
  de cartões. - sample-table.html - Lista em formato de cartões. ## Referências - AngularJS Routes - <a href="https://docs.angularjs.org/api/ngRoute">https://docs.angularjs.org/api/ngRoute</a>  - Dependência express - <a href="https://www.npmjs.com/package/express">https://www.npmjs.com/package/express</a> - Dependência
  body-parser - <a href="https://www.npmjs.com/package/body-parser">https://www.npmjs.com/package/body-parser</a> - Dependência
  cors - <a href="https://www.npmjs.com/package/cors">https://www.npmjs.com/package/cors</a> - Dependência express-load -
  <a href="https://www.npmjs.com/package/express-load">https://www.npmjs.com/package/express-load</a> - Dependência Materializecss
  - <a href="http://materializecss.com/getting-started.html">http://materializecss.com/getting-started.html</a> - Dependência
  (Opcional) - <a href="https://www.npmjs.com/package/jsonwebtoken">https://www.npmjs.com/package/jsonwebtoken</a> Por: <a
    href="http://renanlopes.com">Renan Lopes</a> -->
</main>
<script src="assets/js/materializecss/materialize.js"></script>
<script src="assets/js/materializecss/init.js"></script>

  <!--<code>
    &ltdiv class="footer-copyright"&gt<br>
    &nbsp &ltdiv class="container"&gt<br>
    &nbsp&nbsp Made by &lta class="brown-text text-lighten-3" href="http://materializecss.com"&gt<br>
    &nbsp&nbsp&nbspRenan Lopes&lt/a&gt<br>
    &nbsp&lt/div&gt<br>
    &lt/div&gt<br>
  </code>-->