<div class="slider fullscreen s-container">
  <ul class="slides">
    <li class="velocity-animating active" style="opacity: 0.986696; transform: translateX(0px) translateY(0px);">
      <img src="img/motocross-bg-success.jpg">
      <div class="caption center-align" style="opacity: 1; transform: translateY(-100px) translateX(0px);">
        <div class="row">
          <img class="aioz-logo col s12 m2 l2" src="img/logo-white.png">
          <div class="col s12 m12 l12">
            <h1 class="cinzel-font hide-on-small-only">AioZ</h1>
            <div class="card z-depth-3 aioz-bg">
              <div class="card-content">
                <div>
                  <p class="light">
                    <h2 class="cinzel-font hide-on-med-and-up">AioZ</h2>
                    <p class="font-2x cinzel-font">Assim que nossa plataforma estiver funcional entraremos em contato pelos canais de comunicação informados.</p>
                    <p class="font-2x cinzel-font">Prepare-se para se juntar aos melhores</p>
                  </p>
                </div>
                <br>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>