<div class="slider fullscreen s-container">
  <ul class="slides">
    <li class="velocity-animating active" style="opacity: 0.986696; transform: translateX(0px) translateY(0px);">
      <img src="img/bg-intro.jpg">
      <div class="caption center-align" style="opacity: 1; transform: translateY(-100px) translateX(0px);">
        <div class="row">
          <img class="aioz-logo col l2" src="img/logo-white.png">
          <div class="col s12 m6 l7 offset-l7">
            <div class="card z-depth-3 hoverable aioz-bg">
              <div class="card-content">
                <div id="test6">
                  <p class="light">
                    <h3 class="cinzel-font green-theme-text">AioZ</h3>
                    <p>Jogue com os melhores e monte sua equipe</p>
                    <p>inscreva-se agora e receba os primeiros convites</p>
                  </p>
                </div>
                <br>
                <div class="row">
                  <div class="col s12">
                    <div class="row left-align">
                      <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix grey-text text-darken-1">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate" ng-model="newGamer.username" required>
                        <label for="icon_prefix">Nome</label>
                      </div>
                      <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix grey-text text-darken-1">chat</i>
                        <input id="icon_email" type="text" class="validate" ng-model="newGamer.whats">
                        <label for="icon_email">WhatsApp</label>
                      </div>
                      <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix grey-text text-darken-1">email</i>
                        <input id="icon_email" type="email" class="validate" ng-model="newGamer.email">
                        <label for="icon_email">Email</label>
                      </div>
                      <div class="col s12 m12 l12">
                        <label>Perfil</label>
                        <select class="select browser-default" ng-model="newGamer.perfil">
                          <option value="" selected disabled>Selecione</option>
                          <option value="Esporte Eletrônico">Esporte Eletrônico</option>
                          <option value="Esporte">Esporte</option>
                        </select>
                      </div>
                    </div>
                    <a class="btn btn grey darken-2" ng-click="nextRegister()">Inscreva-se</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/materializecss/init.js"></script>
<script src="assets/js/materializecss/materialize.js"></script>
<script>
  $(document).ready(function () {
    $('.select').material_select();
  });
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
  });
        
</script>