<main>
  <div class="row black-layer">
    <h4 class="header center cinzel-font col s12 pack-yellow-text">Serviços</h4>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4><img src="img/external-logos/angular.png" alt="" class="logo"></h4>
          <p> Serviços no Angular</p>
        </li>
      </ul>
    </div>
  </div>

</main>
<script src="assets/js/materializecss/materialize.js"></script>
<script src="assets/js/materializecss/init.js"></script>