<!-- Diretiva barra de navegação sem autenticação -->
<navbar></navbar>
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card z-depth-3 hoverable">
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width grey-text text-darken-1 pack-indicator">
          <li class="tab"><a class="active pack-theme-text" href="#form-entrar">Entrar</a></li>
          <li class="tab"><a class="pack-theme-text" href="#form-cadastrar">Cadastrar</a></li>
          <li class="tab"><a class="pack-theme-text" href="#form-documento">Novo Documento</a></li>
        </ul>
      </div>
      <div class="card-content">
        <div id="form-entrar">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12 m12 l6">
                  <i class="material-icons prefix grey-text text-darken-1">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate" ng-model="user.username">
                  <label for="icon_prefix">Usuário</label>
                </div>
                <div class="input-field col s12 m12 l6">
                  <i class="material-icons prefix grey-text text-darken-1">lock</i>
                  <input id="icon_lock" type="password" class="validate" ng-model="user.password">
                  <label for="icon_lock">Senha</label>
                </div>
              </div>
              <a class="btn grey darken-2" ng-click="autenticar()">Entrar</a>
            </form>
          </div>
        </div>
        <div id="form-cadastrar">
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12 m12 l6">
                  <i class="material-icons prefix grey-text text-darken-1">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate" ng-model="newUser.username">
                  <label for="icon_prefix">Usuário</label>
                </div>
                <div class="input-field col s12 m12 l6">
                  <i class="material-icons prefix grey-text text-darken-1">lock</i>
                  <input id="icon_lock" type="password" class="validate" ng-model="newUser.password">
                  <label for="icon_lock">Senha</label>
                </div>
                <div class="input-field col s12 m12 l12">
                  <i class="material-icons prefix grey-text text-darken-1">email</i>
                  <input id="icon_email" type="email" class="validate" ng-model="newUser.email">
                  <label for="icon_email">Email</label>
                </div>
              </div>
              <a class="btn btn grey darken-2" ng-click="createUser()">Cadastrar</a>
            </div>
          </div>
        </div>
        <div id="form-documento">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Título do documento" id="title" type="text" class="validate" ng-model="newDocument.title">
                  <label for="title">Titulo</label>
                </div>
                <div class="input-field col s6">
                  <select ng-model="newDocument.format">
                    <option value="" disabled selected>Selecione</option>
                    <option value="Artigo">Artigo</option>
                    <option value="Tutorial">Tutorial</option>
                    <option value="Apresentação">Apresentação</option>
                  </select>
                  <label>Tipo Documento</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" ng-model="newDocument.content"></textarea>
                  <label for="textarea1">Conteúdo</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <input id="category" type="text" class="validate" ng-model="newDocument.category">
                  <label for="category">Categoria</label>
                </div>

                <div class="input-field col s12 m6 l6">
                  <select ng-model="newDocument.access">
                    <option value="" disabled selected>Selecione</option>
                    <option value="Publico">Publico</option>
                    <option value="Restrito">Restrito</option>
                    <option value="Inativo">Inativo</option>
                  </select>
                  <label>Acesso</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field inline">
                    <input id="date" type="date" class="datepicker" ng-model="newDocument.documentDate">
                    <label for="date" data-error="wrong" data-success="right">Data</label>
                  </div>
                </div>
              </div>
              <a class="btn grey darken-2" ng-click="createDocument()">Cadastrar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/materializecss/materialize.js"></script>
<script>
  $(document).ready(function () {
    $('select').material_select();
  });
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
  });
</script>