    <!-- Diretiva barra de navegação sem autenticação -->
    <navbar></navbar>
    <div class="row"> 
      <!-- Diretiva formulário de login cartão usando grid col s12 m6 l6 -->
      <login-form></login-form>
    
      <div class="col s12 m6 l6">
        <div class="card z-depth-2 hoverable">
        <div class="card-content">
          <h4 class="cinzel-font green-theme-text">
            <i class="material-icons small">group</i> Moderadores</h4>
          <p>Seja parte do nosso time de moderadores da plataforma, ajudando a comunidade de programadores, desenvolvedores e entusiastas na área de ciência e tecnologia.</p>
          <p>Moderadores postam artigos, notícias e videoaulas na plataforma ganhando visibilidade e compartilhando conhecimento.</p>
          <p>Mande um e-mail com seu curriculo e linkedin para <a class="indigo-text text-darken-1" href="renanlopescoder@gmail.com">renanlopescoder@gmail.com</a> que após análise será enviado e-mail de resposta e login de acesso.</p>

        </div>
      </div>
      </div>
    </div>